<div id= "container">
 
<div id="content">
	
	<hr class="fornav navpagemore">
<table id="panel">
	
<div id="info">
	<div id="geography">
	<h2>Geography</h2>
		<p>This map shows the location of Ozone Park relative to other Queens Neighborhoods. It also shows the various places in Ozone Park such as service areas and parks. Finally, you can observe the terrain of this neighborhood along with human activity. </p>
		
		
	<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CuXVCd5caC-ZhyjYuD7rDfDjhMmWK1sv" width="640" height="480"></iframe>
	</div>

	<div id="location">
	<br>
	<br>
	<h2>Location</h2>
	<p>This neighborhood is located in the southwestern section of the borough of Queens. It is located next to the Aqueduct Racetrack in South Ozone Park, a popular spot for Thoroughbred racing and home to the Resorts World Casino & Hotel.
	<p class="spanint">Area</p>
	<span class="span"><i>City:</i></span><span class="more">New York City</span><br>
	<span class="span"><i>State:</i></span><span class="more"> New York State</span><br>
	<span class="span"><i>Country:</i></span> <span class="more">United States of America</span><br>
	
	<p class="spanint">Borders</p>
	<span class="span"><i>Nothern:</i></span><span class="more">Atlantic Ave</span><br>
	<span class="span"><i>Southern:</i></span> <span class="more">North Conduit Ave</span><br>
	<span class="span"><i>Western:</i></span><span class="more"> Brooklyn/Queens border line</span><br>
	<span class="span"><i>Eastern</i></span> <span class="more">108th St and Aqueduct Racetracl property line west</span>
	
	
	
	</div>
</div>
	
	<tr><td><div id="navigatepage">
			<h2>Where To Find...</h2>
			<h3>Looking for something in particular?</h3>

