 <div id="masthead">
	 <img src="ozoneparkimages/logo.png" class="logo" height="100px" alt="logo">
	 
	 
<h1>Ozone Park|The Community Hub</h1>
	 
	</div><!--closing div for masthead-->
	
	<div id="navbar">
		
	<ul id="navbarul">
		<li><a class="active" href="javascript:void(0)" [routerLink]="['/']">HOMEPAGE</a>
		
		

		
		
		
		</li>
		
  		<li><a href="javascript:void(0)">SIGHTS</a>
			<ul>
			<li><a [routerLink]="['/geography']">Geography/Location</a></li>
        	<li><a [routerLink]="['/landmarks']">Landmarks</a></li>
        	<li><a href="activities.html">Activities</a></li>
			</ul>
		</li>
		
		<li><a href="javascript:void(0)">COMMUNITY</a>
			
			<ul>
        	<li><a href="housing.html">Housing</a></li>
			<li><a href="demog.html">Demographic</a></li>
      		</ul>
		</li>
		
		<li><a href="javascript:void(0)">PLACES</a>
			<ul>
			<li><a href="parks.html">Parks</a></li>
			<li><a href="schools.html">Schools</a></li>
        	<li><a href="shopdin.html">Shopping & Dining</a></li>
      			</ul>
		</li>
		
		<li><a href="transpo.html">TRANSPORTATION</a></li>
		
		<li><a href="contact.html">CONTACT US</a></li>
			
	</ul>	
		
			
 </div><!--closingdiv for nav-->